table th{
	white-space: nowrap !important;
	min-width: 120px;
	font-weight: normal;
}
.dataTables_length, .dataTables_info{
	float: left;	
}
.dt-buttons, .dataTables_paginate {
	float: right;
}

.custom-nav{
	display: flex;
	flex-direction: row;
}
.custom-nav li{
	margin: .5rem 1rem;
}
.custom-nav li a{
	font-weight: 500;
	color: #000;
	text-decoration: none;
	padding: .5rem .1rem;
}
.custom-nav li.active{
}
.custom-nav li a:hover, .custom-nav li.active a{
	color: #1e5f8d;
	border-bottom: 3px solid #1e5f8d;
}

.app-heading{
	display: flex;
	align-items: center;
		
}
.actions i{
	cursor: pointer;
}
.loader{
	display: none;
}
.loading .loader{
	position: absolute;
	display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loading  .loader .load-wrapper{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f2f2f2;
    opacity: .5;
    
}
.loading  .loader .load-spinner{
	font-size: 56px;
    color: #1e5f8d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}